[Desktop Entry]

Name=PLC 2.0

Comment=My First Unity Snap Game

Exec=PLC2.0.x86_64

Icon=${SNAP}/meta/gui/plc.png

Type=Application

Terminal=false

Categories=Game;